@font-face {
    font-family: AvenirNextLTPro-Bold\.otf;
    src: url(../fonts/AvenirNextLTPro-Bold.otf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: AvenirNextLTPro-Regular\.otf;
    src: url(../fonts/AvenirNextLTPro-Regular.otf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: iCielDomaineDisplay-Bold\.ttf;
    src: url(../fonts/iCielDomaineDisplay-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: iCielDomaineDisplay-Demibold\.ttf;
    src: url(../fonts/iCielDomaineDisplay-Demibold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: iCielDomaineDisplay-Medium\.ttf;
    src: url(../fonts/iCielDomaineDisplay-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: iCielDomaineDisplay-Regular\.ttf;
    src: url(../fonts/iCielDomaineDisplay-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: AVENIRNEXT-BOLD\.TTF;
    src: url(../fonts/AVENIRNEXT-BOLD.TTF) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: AVENIRNEXT-DEMIBOLD\.TTF;
    src: url(../fonts/AVENIRNEXT-DEMIBOLD.TTF) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: AVENIRNEXT-MEDIUM\.TTF;
    src: url(../fonts/AVENIRNEXT-MEDIUM.TTF) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: AVENIRNEXT-REGULAR\.TTF;
    src: url(../fonts/AVENIRNEXT-REGULAR.TTF) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }
  
  @font-face {
    font-family: "9SLIDE06JOYFUL.ttf";
    src: url(../fonts/9SLIDE06JOYFUL.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }





@font-face {
    font-family: DancingScript;
    src: url(../fonts/DancingScript-Bold.ttf);
  }
  @font-face {
    font-family: SlideJoyful;
    src: url(../fonts/9SLIDE06JOYFUL.ttf);
  }
  @font-face {
    font-family: Avenirnext-bold;
    src: url(../fonts/AVENIRNEXT-BOLD.TTF);
  }
  @font-face {
    font-family: Avenirnext-demibold;
    src: url(../fonts/AVENIRNEXT-DEMIBOLD.TTF);
  } 
   @font-face {
    font-family: Avenirnext-medium;
    src: url(../fonts/AVENIRNEXT-MEDIUM.TTF);
  } 
   @font-face {
    font-family: Avenirnext-regular;
    src: url(../fonts/AVENIRNEXT-REGULAR.TTF);
  }
  @font-face {
    font-family: ICielDomaine;
    src: url(../fonts/iCielDomaineDisplay-Bold.ttf);
  }
  @font-face {
    font-family: ICielDomaineMedium;
    src: url(../fonts/iCielDomaineDisplay-Medium.ttf);
  }
  @keyframes rotate-disc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wedding {
    /* Background */
    background-image: url(../images/albums/min/6.jpg);
    background-position: top;
    background-size: cover;

    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    position: relative;
}
.group-music {
    position: absolute;
    top: 10px;
    right: 10px;
}
.vinyl-disc {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;


    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: #1a3c68;



  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

.active {
    display: block;
}
.playing {
    animation: rotate-disc 9s linear infinite;
}

.vinyl-disc .circle-2 {
    width: 50%;
    height: 50%;
    background-image: url(../images/until.png);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vinyl-disc .circle-3 {
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Mặc định */
.title {
    position: absolute;
    background: hsla(0, 0%, 0%, 0.393);
    bottom: 15%;
    padding: 10px;

    text-align: center;
    color: white;
}
.title p {
    margin: 0;
    padding: 0;
}
.title .name {
  font-family: DancingScript;
  font-size: 30px;
}

.title .or {
    font-family: DancingScript;
      font-size: 15px;
      padding-top: 5px
    }
    .title .save-the-date {
        font-family: 'Times New Roman', Times, serif;
      padding-top: 5px;
      font-size: 15px;
    
    }
.title .date {
    font-family: ICielDomaine;
  font-size: 20px;
  padding-top: 5px;

}

/* .btn-1 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 0);
} */
/* .btn-2 {
    position: absolute;
    bottom: 1;
    right: 0;
    transform: translate(0, 0);
} */

.ivitation-card {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: translate(0, 0);
}
.photo-albums {
    position: absolute;
    bottom: 50px;
    right: 10px;
    transform: translate(0, 0);
}
.is-active {
    opacity: 1;
    visibility: visible;
    transform: scale(1)
  }
/* Reponsive */
/* #sm */
@media only screen and (min-width: 576px) {

}
/* #md */
@media only screen and (min-width: 768px) {

}
/* #lg */
@media only screen and (min-width: 992px) {}
/* #xl */
@media only screen and (min-width: 1200px) {}
/* #xxl */
@media only screen and (min-width: 1400px) {}
