.ivitation-card-modal h5 {
    font-size: 100%;
    font-weight: 400;
}
.ivitation-card-modal p {
    margin: 0;
}
.ivitation-card-modal {
    width: 100%;
    height: 100vh;
    background: #fff;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: .4s;
    opacity: 0;
    visibility: hidden;

    font-family: AVENIRNEXT-REGULAR\.TTF;
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal {
      overflow: hidden;
      background-image: url(../images/common/tm.png) !important;
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: auto;
      display: flex;
      align-items: flex-start
    }
  }
  
  .ivitation-card-modal.is-active {
    opacity: 1;
    visibility: visible
  }
  
  .ivitation-card-modal:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/common/bgr.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal:before {
      content: none
    }
  }
  
  .ivitation-card-modal .content {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 8.3333333333% 173px
  }
  
  @media (max-width:1024px) {
    .ivitation-card-modal .content {
      padding: 10px 30px 173px
    }
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content {
      padding: 40px 16px 0;
      height: 88%;
      overflow-y: scroll;
      justify-content: center
    }
  }
  
  .ivitation-card-modal .content .img {
    margin-bottom: 28px
  }
  
  @media (max-width:1280px) {
    .ivitation-card-modal .content .img {
      margin-bottom: 20px
    }
  }
  
  @media (max-width:320px) {
    .ivitation-card-modal .content .img {
      width: 100px
    }
  }
  
  .ivitation-card-modal .content .name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
    width: 100%;
    z-index: 1
  }
  
  @media (max-width:1280px) {
    .ivitation-card-modal .content .name {
      margin-bottom: 20px
    }
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content .name {
      margin-bottom: 15px
    }
  }
  
  @media (max-width:320px) {
    .ivitation-card-modal .content .name {
      justify-content: space-between
    }
  }
  
  .ivitation-card-modal .content .name ._item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6px
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content .name ._item:first-child {
      flex-direction: row-reverse
    }
  
    .ivitation-card-modal .content .name ._item:first-child ._image {
      margin-left: 0;
      margin-right: 8px
    }
  }
  
  @media (max-width:320px) {
    .ivitation-card-modal .content .name ._item:first-child {
      margin-right: 0
    }
  }
  
  .ivitation-card-modal .content .name ._item:nth-child(2) {
    flex-direction: row-reverse;
    margin-left: 15px;
    margin-right: 0
  }
  
  @media (max-width:320px) {
    .ivitation-card-modal .content .name ._item:nth-child(2) {
      margin-left: 0
    }
  }
  
  .ivitation-card-modal .content .name ._item:nth-child(2) ._image {
    margin-right: 16px;
    margin-left: 0
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content .name ._item:nth-child(2) ._image {
      margin-right: 8px
    }
  }
  
  .ivitation-card-modal .content .name ._item ._people {
    font-size: 60px;
    line-height: 60px;
    color: #1a3c68;
    font-family: "9slide06joyful.ttf";
    white-space: nowrap
  }
  
  @media (max-width:768px) {
    .ivitation-card-modal .content .name ._item ._people {
      font-size: 60px;
      line-height: 60px
    }
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content .name ._item ._people {
      font-size: 60px;
      line-height: 60px
    }
  }
  
  @media (max-width:320px) {
    .ivitation-card-modal .content .name ._item ._people {
      font-size: 40px;
      line-height: 40px
    }
  }
  
  .ivitation-card-modal .content .name ._item ._image {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-left: 16px;
    background: #c4c4c4;
    border: 3px solid hsla(0, 0%, 100%, .4);
    box-shadow: 0 4px 6px rgba(26, 60, 104, .25), 0 14px 24px rgba(255, 228, 202, .25), 0 12px 24px rgba(26, 60, 104, .25)
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content .name ._item ._image {
      width: 36px;
      height: 36px
    }
  }
  
  .ivitation-card-modal .content .name ._item ._image ._xoay {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    animation: spin 15s linear 0s infinite;
    -webkit-animation: spin 15s linear 0s infinite;
    -moz-animation: spin 15s linear 0s infinite;
    -o-animation: spin 15s linear 0s infinite
  }
  
  .ivitation-card-modal .content ._kinhmoi {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: #1a3c68;
    z-index: 1
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._kinhmoi {
      margin-bottom: 15px;
      width: 90%
    }
  }
  
  .ivitation-card-modal .content ._kinhmoi strong {
    font-family: AVENIRNEXT-BOLD\.TTF
  }
  
  .ivitation-card-modal .content ._time {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    z-index: 1
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._time {
      margin-bottom: 15px
    }
  }
  
  .ivitation-card-modal .content ._time p {
    display: block;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1a3c68;
    border-top: 1px solid rgba(25, 59, 102, .2);
    border-bottom: 1px solid rgba(25, 59, 102, .2);
    padding: 4px 0;
    width: 82px
  }
  
  .ivitation-card-modal .content ._time p:nth-child(2) {
    margin: 0 40px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #1a3c68;
    font-family: icieldomainedisplay-bold\.ttf;
    border: none;
    padding: 0;
    width: auto
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._time p:nth-child(2) {
      margin: 0 25px
    }
  }
  
  @media (max-width:320px) {
    .ivitation-card-modal .content ._time p:nth-child(2) {
      margin: 0 15px;
      font-size: 25px;
      line-height: 25px
    }
  }
  
  .ivitation-card-modal .content ._location {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1a3c68;
    margin-bottom: 48px;
    z-index: 1
  }
  
  @media (max-width:1280px) {
    .ivitation-card-modal .content ._location {
      margin-bottom: 35px
    }
  }
  
  @media (max-width:768px) {
    .ivitation-card-modal .content ._location {
      margin-bottom: 25px
    }
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._location {
      margin-bottom: 15px
    }
  }
  
  .ivitation-card-modal .content ._location p {
    text-transform: uppercase;
    color: #1a3c68;
    font-weight: 700;
    display: initial;
    font-family: AVENIRNEXT-DEMIBOLD\.TTF
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._location p {
      display: block
    }
  }
  
  .ivitation-card-modal .content ._location span {
    margin: 0 18px
  }
  
  @media (max-width:768px) {
    .ivitation-card-modal .content ._location span {
      margin: 0 5px
    }
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._location span {
      display: none
    }
  }
  
  .ivitation-card-modal .content ._list_but {
    display: flex;
    z-index: 1
  }
  
  @media (min-width:1440px) {
    .ivitation-card-modal .content ._list_but {
      margin-bottom: 55px
    }
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._list_but {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 25px
    }
  }
  
  .ivitation-card-modal .content ._list_but a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1a3c68;
    width: 195px;
    height: 56px;
    margin-right: 16px;
    position: relative;
    transition: all .5s ease
  }
  
  @media (max-width:768px) {
    .ivitation-card-modal .content ._list_but a {
      font-size: 15px;
      width: 140px;
      height: 40px
    }
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._list_but a {
      margin-bottom: 0;
      height: 35px;
      width: calc((100% - 20px)/3);
      margin-right: 0;
      font-size: 13px
    }
  }
  
  @media (max-width:320px) {
    .ivitation-card-modal .content ._list_but a {
      font-size: 12px;
      width: calc((100% - 10px)/3)
    }
  }
  
  @media (min-width:769px) {
    .ivitation-card-modal .content ._list_but a:hover {
      letter-spacing: 1px;
      box-shadow: 0 4px 6px rgba(26, 60, 104, .25), 0 14px 24px rgba(255, 228, 202, .25), 0 12px 24px rgba(26, 60, 104, .25)
    }
  
    .ivitation-card-modal .content ._list_but a:hover:before {
      opacity: 1
    }
  }
  
  .ivitation-card-modal .content ._list_but a p {
    z-index: 1
  }
  
  .ivitation-card-modal .content ._list_but a img {
    margin-right: 8px;
    width: 0;
    transition: all .5s ease
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._list_but a img {
      margin-right: 5px;
      width: 13px
    }
  }
  
  .ivitation-card-modal .content ._list_but a:before {
    transition: all .5s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/common/img_4.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0
  }
  
  .ivitation-card-modal .content ._list_but a:last-child {
    margin-right: 0
  }
  
  .ivitation-card-modal .content ._list_but a:last-child.dislable {
    opacity: .5 !important;
    pointer-events: none !important
  }
  
  .ivitation-card-modal .content ._list_but a:last-child:before {
    display: none
  }
  
  @media (min-width:769px) {
    .ivitation-card-modal .content ._list_but a:last-child {
      background: #fff
    }
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._list_but a:last-child {
      margin-bottom: 0
    }
  }
  
  .ivitation-card-modal .content ._list_but a:nth-child(2) {
    box-shadow: 0 4px 6px rgba(26, 60, 104, .25), 0 14px 24px rgba(255, 228, 202, .25), 0 12px 24px rgba(26, 60, 104, .25);
    font-family: AVENIRNEXT-MEDIUM\.TTF
  }
  
  .ivitation-card-modal .content ._list_but a:nth-child(2):before {
    opacity: 1
  }
  
  @media (min-width:769px) {
    .ivitation-card-modal .content ._list_but a:nth-child(2):hover {
      background: rgba(26, 60, 104, .7);
      color: #fff
    }
  
    .ivitation-card-modal .content ._list_but a:nth-child(2):hover:before {
      z-index: -1
    }
  }
  
  .ivitation-card-modal .content ._list_but a:first-child:before {
    display: none
  }
  
  @media (min-width:769px) {
    .ivitation-card-modal .content ._list_but a:first-child:hover {
      background: #f2f2f2
    }
  }
  
  .ivitation-card-modal .content ._list_but .click_thamgia_toggle {
    color: #27ae60;
    background: #fff !important
  }
  
  .ivitation-card-modal .content ._list_but .click_thamgia_toggle img {
    width: auto
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._list_but .click_thamgia_toggle img {
      width: 13px
    }
  }
  
  .ivitation-card-modal .content .footer_tm {
    position: absolute;
    bottom: 45px
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content .footer_tm {
      position: static
    }
  }
  
  .ivitation-card-modal .content ._bottom {
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    color: #1a3c68;
    font-family: "9slide06joyful.ttf";
    z-index: 1
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal .content ._bottom {
      display: none
    }
  }
  
  .ivitation-card-modal ._chucmung {
    width: 100%;
    height: 100%;
    transition: .8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: scale(0)
  }
  
  .ivitation-card-modal ._chucmung ._back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
  }
  
  .ivitation-card-modal ._chucmung ._back ._content {
    width: 100%;
    height: 100%;
    padding: 0 8.6805555556%;
    position: relative
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal ._chucmung ._back ._content {
      padding: 0
    }
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #1a3c68;
    opacity: .7
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    display: flex;
    height: 100%
  }
  
  @media (max-width:1366px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail {
      padding: 0 26.8907563025%
    }
  }
  
  @media (max-width:1024px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail {
      padding: 0 23.5294117647%
    }
  }
  
  @media (max-width:768px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail {
      padding: 0 100px
    }
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail {
      padding: 0 30px;
      padding: 0
    }
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail .w-center {
    width: 450px;
    max-width: 100%
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail .w-center {
      width: 100%
    }
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail:before {
    transition: all .1s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/common/img_7.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: 0
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail ._item1 {
    font-size: 96px;
    line-height: 96px;
    color: #1a3c68;
    font-family: "9slide06joyful.ttf";
    margin-bottom: 36px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .8s;
    transition-delay: 1.1s;
    transform: translateY(-400px);
    text-align: center
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail ._item1 {
      font-size: 69px;
      line-height: 69px;
      margin-bottom: 30px
    }
  }
  
  @media (max-width:320px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail ._item1 {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 25px
    }
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail ._item2 {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1a3c68;
    z-index: 1;
    margin-bottom: 42px;
    opacity: 0;
    visibility: hidden;
    transition: .8s;
    transition-delay: 1s;
    transform: translateY(-400px)
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail ._item2 br {
    display: none
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail ._item2 {
      margin-bottom: 35px
    }
  
    .ivitation-card-modal ._chucmung ._back ._content ._detail ._item2 br {
      display: block
    }
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail ._item3 {
    width: 100%;
    border-top: 1px solid rgba(25, 59, 102, .2);
    border-bottom: 1px solid rgba(25, 59, 102, .2);
    padding: 12px 0 15px;
    z-index: 1;
    margin-bottom: 51px;
    opacity: 0;
    visibility: hidden;
    transition: .8s;
    transition-delay: 1s;
    transform: translateY(-400px)
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail ._item3 {
      margin-bottom: 40px
    }
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail ._item3 ._child {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    margin-bottom: 12px
  }
  
  @media (max-width:480px) {
    .ivitation-card-modal ._chucmung ._back ._content ._detail ._item3 ._child {
      margin-bottom: 10px
    }
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail ._item3 ._child:last-child {
    margin-bottom: 0
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail ._item3 ._child ._left {
    padding-right: 8px;
    width: 50%;
    text-align: right;
    color: #4f4f4f
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail ._item3 ._child ._right {
    width: 50%;
    color: #1a3c68;
    padding-left: 8px;
    font-family: AVENIRNEXT-MEDIUM\.TTF
  }
  
  .ivitation-card-modal ._chucmung ._back ._content ._detail ._item4 {
    width: 50px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transition-delay: 2s;
    transform: scale(0);
    margin: 0 auto
  }
  
  .ivitation-card-modal ._chucmung .close,
  .ivitation-card-modal ._chucmung .close2 {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: #1a3c68;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23px;
    right: 10.0694444444%;
    display: none;
    cursor: pointer;
    z-index: 1
  }
  
  .ivitation-card-modal ._chucmung .close2 img,
  .ivitation-card-modal ._chucmung .close img {
    transition: all .5s ease
  }
  
  @media (max-width:480px) {
  
    .ivitation-card-modal ._chucmung .close2 img,
    .ivitation-card-modal ._chucmung .close img {
      width: 18px
    }
  }
  
  @media (max-width:1024px) {
  
    .ivitation-card-modal ._chucmung .close,
    .ivitation-card-modal ._chucmung .close2 {
      width: 45px;
      height: 45px
    }
  }
  
  @media (max-width:480px) {
  
    .ivitation-card-modal ._chucmung .close,
    .ivitation-card-modal ._chucmung .close2 {
      width: 35px;
      height: 35px;
      top: 20px;
      right: 11.1111111111%;
      width: 48px;
      height: 48px;
      top: 16px;
      right: 16px
    }
  }
  
  @media (min-width:769px) {
  
    .ivitation-card-modal ._chucmung .close2:hover img,
    .ivitation-card-modal ._chucmung .close:hover img {
      transform: rotate(180deg)
    }
  }
  
  .ivitation-card-modal ._chucmung_active {
    opacity: 1;
    visibility: visible;
    transform: scale(1)
  }
  
  .ivitation-card-modal ._chucmung_active .close,
  .ivitation-card-modal ._chucmung_active .close2 {
    display: flex
  }
  
  .ivitation-card-modal ._chucmung_active ._back ._content ._detail ._item1,
  .ivitation-card-modal ._chucmung_active ._back ._content ._detail ._item2,
  .ivitation-card-modal ._chucmung_active ._back ._content ._detail ._item3 {
    opacity: 1;
    visibility: visible;
    transform: translateX(0)
  }
  
  .ivitation-card-modal ._chucmung_active ._back ._content ._detail ._item4 {
    opacity: 1;
    visibility: visible;
    transform: scale(1)
  }
  
  .ivitation-card-modal .down-screen {
    width: 56px;
    height: 56px;
    background: rgba(26, 60, 104, .1);
    border-radius: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    transition: .6s;
    border: 0;
    margin: 0 auto
  }
  
  @media (min-width:1200px) {
    .ivitation-card-modal .down-screen:hover {
      opacity: .6 !important
    }
  
    .ivitation-card-modal .down-screen:hover img {
      animation-name: unset
    }
  }
  
  .ivitation-card-modal .down-screen img {
    animation-name: spinY;
    animation-duration: 2s;
    animation-iteration-count: infinite
  }
  
  @media (max-width:1024px) {
    .ivitation-card-modal .down-screen img {
      animation-name: none
    }
  }
  
  @media (max-width:1024px) {
    .ivitation-card-modal .down-screen {
      width: 50px;
      height: 50px
    }
  }

  .back {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 54px;
    top: 50%;
    transform: translateY(-50%);
  
    background: transparent;
  
    border: none;
  }
  
  .back .redirect {
    width: 60px;
    height: 60px;
    background: #1a3c6833;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
  
  }
  
  .back p {
    padding-left: 12px;
  }
  
  .home-page .h-section1 .btn-redirect .redirect img {
  
    animation-name: spinX;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  .back .redirect img {
  
    animation-name: spinX;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  ._flex-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  
  }
  
  .pc {
    display: block;
  }
  
  .mb {
    display: none;
  }
  
  @media only screen and (max-width: 1440px) {
    .home-page .h-section1 .des {
      top: 0px;
    }
  
    .home-page .h-section1 .des p.lable-tita {
      font-size: 185px;
      line-height: 150px;
    }
  
    .home-page .h-section1 .des p.lable-tita {
      font-size: 185px;
      line-height: 150px;
    }
  
    ._flex-text {
      margin-top: 5px;
    }
  
  }
  
  @media only screen and (max-width: 768px) {
    .home-page .h-section1 .btn-redirect {
      bottom: 10%;
  
    }
  
    .home-page .h-section1 .des p.lable-tita {
  
      font-size: 130px;
      line-height: 130px;
  
    }
  
  }
  
  @media only screen and (max-width: 1280px) {
    p.text-next {
      display: none;
    }
  
  }
  
  @media only screen and (max-width: 576px) {
    .back {
      bottom: 20px;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .pc {
      display: none;
    }
  
    .mb {
      display: block;
    }
  
    .footer-home .container_common .content_common .des {
      /* padding-bottom: 25px; */
      padding-bottom: 0;
      margin-bottom: 0;
    }
  
    .home-page .h-section1 .btn-redirect {
  
      flex-direction: column;
      bottom: 12px;
      transform: none;
    }
  
    .home-page .h-section1 .btn-redirect span {
  
      transition: .4s;
      margin: 0;
  
    }
  
    .home-page .h-section1 .btn-redirect.left {
  
      left: 5px;
  
    }
  
    .home-page .h-section1 .btn-redirect.left p.text-next {
  
      order: 1;
  
    }
  
    .home-page .h-section1 .btn-redirect.left span {
  
      order: 2;
  
    }
  
    .home-page .h-section1 .btn-redirect p.text-next {
      display: block;
      font-size: 58px;
      line-height: 62px;
      margin-bottom: 0px;
  
    }
  
  
  
    .home-page .h-section1 .btn-redirect .redirect img {
  
      animation-name: none;
  
    }
  
    .back .redirect img {
  
      animation-name: none;
  
    }
  
    .home-page .h-section1 .des p.second {
  
      font-size: 16px;
      line-height: 25px;
  
    }
  
    .home-page .h-section1 .btn-redirect.right {
      right: 0;
    }
  
    ._flex-text {
      flex-direction: column;
    }
  
    .home-page .h-section1 .des p.label-save {
  
  
      margin-right: 0;
      margin-bottom: 0;
    }
  
    .home-page .h-section1 .des p.label-date {
  
      font-size: 28px;
      line-height: 30px;
  
    }
  }
  
  
  .home-page .h-section2 .container_common .content_common h3.des strong {
    font-family: "AVENIRNEXT-DEMIBOLD.TTF";
  }

  .ivitation-card-modal .content ._time p:nth-child(2) span {
    font-size: 15px;
    line-height: 24px;
    font-family: "iCielDomaineDisplay-Medium.ttf";
}

.ivitation-card-modal .content ._time p:nth-child(2) {
    display: flex;
    flex-direction: column;
}
