@font-face {
    font-family: AvenirNextLTPro-Bold\.otf;
    src: url(assets/fonts/AvenirNextLTPro-Bold.otf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: AvenirNextLTPro-Regular\.otf;
    src: url(assets/fonts/AvenirNextLTPro-Regular.otf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: iCielDomaineDisplay-Bold\.ttf;
    src: url(assets/fonts/iCielDomaineDisplay-Bold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: iCielDomaineDisplay-Demibold\.ttf;
    src: url(assets/fonts/iCielDomaineDisplay-Demibold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: iCielDomaineDisplay-Medium\.ttf;
    src: url(assets/fonts/iCielDomaineDisplay-Medium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: iCielDomaineDisplay-Regular\.ttf;
    src: url(assets/fonts/iCielDomaineDisplay-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: AVENIRNEXT-BOLD\.TTF;
    src: url(assets/fonts/AVENIRNEXT-BOLD.TTF) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: AVENIRNEXT-DEMIBOLD\.TTF;
    src: url(assets/fonts/AVENIRNEXT-DEMIBOLD.TTF) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: AVENIRNEXT-MEDIUM\.TTF;
    src: url(assets/fonts/AVENIRNEXT-MEDIUM.TTF) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: AVENIRNEXT-REGULAR\.TTF;
    src: url(assets/fonts/AVENIRNEXT-REGULAR.TTF) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "9SLIDE06JOYFUL.ttf";
    src: url(assets/fonts/9SLIDE06JOYFUL.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}